In [154]:
import pandas as pd
import numpy as np

In [155]:
df = pd.DataFrame(columns=['szerokosc','dlugosc', 'cena'])

In [156]:
def calc(a, b):
    x = 155
    add = 0
    add1 = 0
    add2 = 0
    if a > 2:
        add1 = a - 2
        if b > 2:
            add2 = b - 2
            add = (x * add1 * add2)
    return np.ceil((x * (2 * a + 2 * b) + add) / 50) * 50

In [157]:
for i in np.arange(1, 6.5, 0.5):
    for j in np.arange(i, 6.5, 0.5):
        df.loc[len(df), ['szerokosc','dlugosc', 'cena']] = i, j, calc(i, j)

In [158]:
df.where(df['szerokosc'] == 2).dropna()

   szerokosc dlugosc    cena
21       2.0     2.0  1250.0
22       2.0     2.5  1400.0
23       2.0     3.0  1550.0
24       2.0     3.5  1750.0
25       2.0     4.0  1900.0
26       2.0     4.5  2050.0
27       2.0     5.0  2200.0
28       2.0     5.5  2350.0
29       2.0     6.0  2500.0

In [159]:
df.to_csv('cennik.csv', index=None)